# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
build/
dist/

# Virtual environments
.venv/
env/
venv/

# Editor settings
.vscode/

# Env files
.env
